/* --------------------------------------------------------------------------
 * Name           : Public Project - HTML Slicing
 * File           : _utilities.scss
 * Version        : 1.0.0
 * Author         : Dzaki Fadhlurrohman
 * Author URI     : https://dzakifadh.vercel.app/
 *
 * Dzakifadh. Copyright 2022. All Rights Reserved.
 * -------------------------------------------------------------------------- */
@import "mixin";

body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
}
h1 {
	font-family: "Abril Fatface", cursive;
}
